{% extends "client/base.html" %}
{% block content %}
    Enter user id and password to get access to your data on the {{ server_host }}.
    {% if response_text %}
        <p>response text:</p>
        <pre><code>{{ response_text }}</code></pre>
    {% endif %}
    <form action="." method="POST">
        <label>Username: <input type="text" name="username" /></label>
        <label>Password: <input type="password" name="password"/></label>
        <input type="submit" />
    </form>
{% endblock %}
